<?page title="Pacientes" contentType="text/html;charset=UTF-8"?>
<zk>
    <include id="nav" src="/templates/nav_bar.zul"/>
    <window title="Pacientes"
        viewModel="@id('vm') @init('com.webapp.clinichistory.paciente.ListaViewModel')"
    >
        <vlayout>
            <hlayout>
                <listbox model="@bind(vm.pacienteListModel)"
                    selectedItem="@bind(vm.selectedPacienteModel)"
                    emptyMessage="No hay pacientes registrados"
                >
                    <listhead>
                        <listheader label="IDENTIFICACIÓN" />
                        <listheader label="NOMBRE" />
                        <listheader label="DIRECCIÓN" visible="false"/>
                        <listheader label="TELÉFONO" />
                        <listheader label="ESTADO CIVIL" visible="false"/>
                        <listheader label="GÉNERO" />
                        <listheader label="EPS" />
                        <listheader label="FECHA NACIMIENTO"/>
                        <listheader label="TELÉFONO DE EMERGENCIA" visible="false"/>
                        <listheader label="CONTACTO EMERGENCIA" visible="false"/>
                        <listheader label="RELACION PACIENTE" visible="false"/>
                         <listheader label="RH" />
                    </listhead>
                    <template name="model">
                        <listitem>
                            <listcell>
                                <label value="@bind(each.identificacion)" />
                            </listcell>
                            <listcell>
                                <label value="@bind(each.nombre)" />
                            </listcell>
                            <listcell>
                                <label value="@bind(each.direccion)" />
                            </listcell>
                            <listcell>
                                <label value="@bind(each.telefono)" /> 
                            </listcell>
                                   <listcell>
                                <label value="@bind(each.estadoCivil)" />
                            </listcell>
                            <listcell>
                                <label value="@bind(each.genero)" />
                            </listcell>
                            <listcell>
                                <label value="@bind(each.eps)" />
                            </listcell>
                            <listcell>
                                <label value="@bind(each.fechaNacimiento)" />
                            </listcell>
                            <listcell>
                                <label value="@bind(each.telefonoEmergencia)" />
                            </listcell>
                            <listcell>
                                <label value="@bind(each.contactoEmergencia)" />
                            </listcell>
                            <listcell>
                                <label value="@bind(each.relacionPaciente)" />
                            </listcell>
                            <listcell>
                                <label value="@bind(each.rh)" />    
                            </listcell>
                        </listitem>
                    </template>
                </listbox>
            </hlayout>
            <hlayout>
                <button label="Regresar" href="../index.zul" />
                <button label="Nuevo" href="./nuevo.zul" />
            </hlayout>
        </vlayout>
        <div>

        </div>
    </window>

</zk>