<zk>
	<window apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm')@init('com.webapp.clinichistory.MyViewModel')"
		validationMessages="@id('vmsgs')"
        title="Historial clínico">
		<include id="nav" src="/templates/nav_bar.zul"/>
	</window>
</zk>