.z-caption a.link {
	font-weight: bold;
	color: #008bb6;
}

.desc {
	color: #636363;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
}

.desc img {
    max-width: 100%;
	max-height: 80%;
	padding-bottom: 10px;
	display: block;
}